#  Use this file to store any values you'd rather not push to GitHub that are
#  required by your Rakefile.  These should be stored as environment variables
#  as shown below.  Currently supported values include:
#

ENV['ssh_user'] = 'deploy-guy@example'
ENV['ssh_port'] = '1022'
ENV['document_root'] = '/var/www/my_website'
ENV['rsync_delete'] = 'true'
