<section id="author">
  <div class="container">
    <img class="avatar" src="/images/kottom_avatar.jpg">

    <div>
      <h2>About the author</h2>

      <p>
	I'm Chris Kottom, and I've been building web applications and writing
	code since the mid-90s. When I first discovered Rails in 2006, I'd spent
	over ten years as a Java developer and burned myself out in the process.
	Discovering Ruby reintroduced me to the fun of coding again.
      </p>

      <p>
	When I first started with Ruby, I had no real experience with automated
	testing, but I was immediately able to see the value in terms of
	software quality and programmer productivity.  But like a lot of longtime
	Rubyists, I've adopted plenty of different testing frameworks over the
	years - Test::Unit, Shoulda, RSpec, and now finally arriving at Minitest.
	I'm writing this book because I think I've finally found a way of testing
	that's reliable and that I can live with long-term, and I wanted
	to help other developers do the same.
      </p>
    </div>
  </div>
</section>
