<section id="author">
  <div class="container">
    <img class="avatar" src="/images/kottom_avatar.jpg">

    <div>
      <h2>About the author</h2>

      <p>
	I'm Chris Kottom, and I've been building web applications
	since the mid-90s. When I first discovered Rails in 2006, I'd
	been a Java developer for over ten years and was pretty burned
	out by the experience.  Discovering Ruby reminded me how much
	I loved coding and brought me back to it.
      </p>

      <p>
	Like a lot of longtime Rubyists, I've used plenty of different
	testing frameworks over the years - Test::Unit, Shoulda,
	RSpec, and now arriving at Minitest.  I think I've finally
	found a way of testing that's reliable and that I can live
	with for the long haul.  I'm hoping to share that with other
	developers and help them do the same.
      </p>

      <p>
	Get in touch with questions or comments via
	<a href="mailto:chris@chriskottom.com">email</a> or
	<a href="https://twitter.com/chriskottom">Twitter</a>.
      </p>
    </div>
  </div>
</section>
