<section id="benefits">
  <div class="container">
    <p>
      When you're ready to move beyond the basics, you'll find that
      even though Minitest is compact, it's also super flexible.
      Because it's built using a limited set of simple abstractions
      and supports a simple plugin architecture, users are able to
      modify and customize the framework's core behavior by writing their
      own extensions or by selecting a third-party gem from the large
      and growing ecosystem of plugins already published for it.
    </p>

    <h2>What Else You'll Learn</h2>

    <div>
      <div class="left-col">
	<h3>Rails application testing</h3>
	<p>
	  Piecing together the right way to test your Rails projects relying only on a bunch of disconnected blog posts and READMEs is a sure way to make your head hurt.  Let me show you how to set up your testing stack and practical recipes for testing every part of your application.
	</p>
      </div>

      <div class="right-col">
	<h3>Write and share your own extensions</h3>
	<p>
	  Minitest's compactness and simplicity offer plenty of opportunities for customizing and changing the framework's basic functions.  We'll peek into the source code and look at some popular plugins to see how you can extend Minitest to meet your own needs.
	</p>
      </div>
    </div>

    <div>
      <div class="left-col">
	<h3>Optimize test performance</h3>
	<p>
	  Developers will run a fast test suite more often than a slow one, and tests that run more often are more effective than those that don't.  I'll show you how to speed up your existing tests as well as the techniques and tricks to avoid writing slow tests in the first place.
	</p>
      </div>

      <div class="right-col">
	<h3>Build your own testing DSL</h3>
	<p>
	  Minitest's standard assertions and expectations are a great start, but you see that you can build up a highly targeted custom testing vocabulary that maps closely to your application's domain and allows you to write tests that are more expressive and compact.
	</p>
      </div>
    </div>
  </div>
</section>
