<section id="benefits">
  <div class="container">
    <h2>What you'll learn</h2>

    <div>
      <div class="left-col">
	<h3>Minitest fundamentals</h3>
	<p>
	  To write effective tests, you first need to have a solid understanding of your framework, the tools it provides out of the box, and the techniques for its use in common scenarios.  Experienced developers and newbies alike will benefit from a detailed walk through of the framework’s features and capabilities.
	</p>
      </div>
      <div class="right-col">
	<h3>Rails application testing</h3>
	<p>
	  Piecing together the right way to test your Rails projects relying only on a bunch of disconnected blog posts and READMEs is a sure way to make your head hurt.  Let me show you how to set up your testing stack and practical recipes for testing every part of your application.
	</p>
      </div>
    </div>

    <div>
      <div class="left-col">
	<h3>Write and share your own extensions</h3>
	<p>
	  Minitest's compactness and simplicity offer plenty of opportunities for customizing and changing the framework's basic functions.  We'll peek into the source code and look at some popular plugins to see how you can extend Minitest to meet your own needs.
	</p>
      </div>
      <div class="right-col">
	<h3>Build your own testing DSL</h3>
	<p>
	  Minitest's standard assertions and expectations are a great start, but you see that you can build up a highly targeted custom testing vocabulary that maps closely to your application's domain and allows you to write tests that are more expressive and compact.
	</p>
      </div>
    </div>

    <div>
      <div class="center-col">
	<h3>Optimize test performance</h3>
	<p>
	  Developers will run a fast test suite more often than a slow one, and tests that run more often are more effective than those that don't.  I'll show you how to speed up your existing tests as well as the techniques and tricks to avoid writing slow tests in the first place.
	</p>
      </div>
    </div>
  </div>
</section>
