<section id="description">
  <div class="container">
    <div class="left-col">
      <p>
	If you’re already serious about testing or feel it’s time to get serious, then this is the book for you. In it, you’ll learn:
	<ul>
	  <li>How to structure your tests and specs effectively</li>
	  <li>How to use mocks and stubs (and when to avoid them)</li>
	  <li>Ways to clean out cruft and configure your tests for maximum performance</li>
	  <li>Which supporting gems and plugins are available for building your ultimate test stack</li>
	  <li>How to make the switch from other frameworks to Minitest</li>
	  <li>How to extend the framework and bend it to your will!</li>
	</ul>
      </p>
    </div>

    <div class="mailchimp">
      {% include minitest_cookbook/mailchimp_form.html %}
    </div>
  </div>
</section>
