<section id="description">
  <div class="container">
    <h2>Start with the Fundamentals</h2>

    <div class="left-col">
      <p>
	Learning to use a simple tool effectively involves no small
	amount of art, and that's why I'm writing <b>The Minitest
	Cookbook</b> - to help developers of all experience levels to
	master the techniques needed to write clear, maintainable tests
	that support them as they try to produce better applications.
	All of this starts with a foundation of basic testing tactics.
	<ul>
	  <li>Recognize the testing that's needed for your application</li>
	  <li>Structure your tests and specs effectively</li>
	  <li>Manage code shared between tests</li>
	  <li>Use mocking, stubbing, and other kinds of test doubles</li>
	  <li>Spot poorly performing test code early</li>
	  <li>Use supporting gems and plugins to trick out your stack</li>
	</ul>
      </p>
    </div>

    <div class="mailchimp">
      {% include minitest_cookbook/mailchimp_form.html %}
    </div>
  </div>
</section>
