<section id="lead">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
	<h1>Learn to listen to your tests.</h1>
      </div>
    </div>

    <p>
      You've been through it all - blog posts and books, screencasts
      and tutorials and programming exercises.  All in the name of
      calling yourself a real Ruby developer.  All because you care
      about code and want yours to be awesome.
    </p>

    <p>
      And yet it's hard to escape the nagging feeling that your tests
      could be doing more for you than they are today.
      <ul>
	<li>
	  You fiddled with your testing stack configuration for weeks
	  to get it working reasonably well.  Even now, you're still
	  not sure you've got all the kinks worked out.
	</li>
	<li>
	  You're certain that some parts of your code base aren't
	  covered by tests simply because you couldn't figure out the
	  right way to test them.
	</li>
	<li>
	  That awesome testing framework that you selected after much
	  stress and worry, the one that lets you write tests that
	  read like English?  Yeah, they just released a new version
	  that changes the preferred syntax to something much more
	  programmatic, and now the docs and all your favorite blogs
	  are writing in a style that looks nothing like what you
	  wrote.
	</li>
	<li>
	  Your whole test suite used to run in practically no time at
	  all, but now it takes up to a half-hour, and you can only
	  afford to run it when you know you're going to be away from
	  your computer.
	</li>
      </ul>
    </p>

    <p>
      Does any of that sound familiar?  It's true that Ruby and Rails
      developers rely heavily on their tests, but for something that's
      held in such high esteem, it's sure not easy to learn.  You just
      want to write tests that do what they need to, run fast, and act
      as a guide to your work.
    </p>
  </div>
</section>
