<section id="lead" class="hero">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
	<h1>Your tests are talking to you.</h1>
	<h2>Can you trust what they're saying?</h2>
      </div>
    </div>

    <p>
      You've read more than your share of blog posts and books, and
      you've worked your way through tutorials and programming
      exercises - some of them more than once.  All in your spare
      time, all in the name of calling yourself a real Ruby developer,
      all because you care about code and want yours to be awesome.
      You're willing to do the work.  You give a damn.
    </p>

    <p>
      And after all those late nights and mental gymnastics, you're
      still left with this sneaking suspicion that your tests aren't
      everything they should be.  Everything you thought they would
      be.  It took weeks of fiddling to get your testing stack working
      reasonably well, and you're still not sure you've got all the
      kinks worked out.  Your coverage is only so-so, and you know
      that there are parts of your code base that you just couldn't
      figure out how to test.  Running your whole test suite used to
      take almost no time at all, but now it takes up to a half-hour,
      and you've gotten into the habit of only running it twice a day.
      And now on top of all this, your favorite testing framework with
      the DSL that reads like English has released a new version that
      changes the way tests are written. Definitely more headaches
      than you signed up for.
    </p>

    <h2>Hey, it's not just you.</h2>

    <p>
      Testing is a big part of working on all types of Ruby and Rails
      projects - commercial, personal, and open source.  It's
      something we spend a lot of time working on for a whole range of
      reasons, but at the end of the day, we just want our tests to
      work well, run fast, and act as a guide to our work.  But all
      too often, the tools get in our way.
    </p>

    <p>
      A lot of Ruby developers have been drawn to Minitest for just
      this reason: simplicity.  By keeping the framework APIs minimal,
      developers have less mental overhead to cope with when writing
      tests.  That means fewer non-Ruby-like incantations to be
      invoked within tests and fewer stylistic decisions to be made
      when writing them.
    </p>

    <p>
      But it's not just the APIs that are minimized.  The Minitest
      source is an order of magnitude smaller than that of RSpec which
      means less behind-the-scenes hocus pocus and fewer WTF moments while
      still providing both a Test::Unit-style syntax for writing tests
      in straight-up Ruby and an RSpec-style DSL for defining tests
      using a block style.  As a commenter on Reddit said: 90% of the
      expressiveness, 10% of the magic.
    </p>
  </div>
</section>
