<section id="lead">
  <div class="banner" style="display: none">
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1></h1>

      <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
      {% include minitest_cookbook/buy_button_top.html %}

      <p>
	Learning to test your Ruby and Rails code can be tough. Even
	after you've been through blog posts and tutorials, screencasts
	and demo apps, you might find yourself feeling more lost than
	ever.
	<ul>
	  <li>
	    Fighting bad and missing docs to get your testing stack set up
	  </li>
	  <li>
	    Learning an entirely new syntax before you can write your first test
	  </li>
	  <li>
	    Hoping no one notices the parts of your application that aren't
	    tested because you weren't sure how to do it
	  </li>
	  <li>
	    Watching your test runs get slower and slower over time
	  </li>
	</ul>
      </p>
      <p class="clearfix">
	Ruby and Rails developers emphasize testing for good reasons,
	and you want to get on board, but even so, it can be damn hard
	to learn.  You just want to write tests that tell you when
	you're breaking something, run fast, and guide you in your work.
      </p>
    </div>
  </div>
</section>
