<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <h3>Get on the list for updates and freebies!</h3>

  <p>
    And let me send you a copy of my free mini-report on
    <span class="freebie">7 Tips for Faster Rails Tests</span>
    to help get you started on the path to awesomer testing.
    Free just for signing up to the mailing list!
  </p>

  <form action="//chriskottom.us7.list-manage.com/subscribe/post?u=cb97c3f32295c9480bdb216ad&amp;id=9b52a32f47"
	method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
	class="validate" target="_blank" novalidate>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label> 
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>

    <div class="mc-field-group">
      <label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
      <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_cb97c3f32295c9480bdb216ad_9b52a32f47" tabindex="-1" value="">
    </div>

    <input type="hidden" name="MINITEST" id="MINITEST" value="yes" />
    <input type="hidden" name="SOURCE" id="SOURCE" value="chriskottom.com" />
    <input type="hidden" name="RESNAME" id="RESNAME" value="" />
    <input type="hidden" name="RESLOC" id="RESLOC" value="http://minitestcookbook.com/index.html" />

    <div class="clear">
      <input type="submit" value="Sign up for sneak peek content!" name="subscribe" id="mc-embedded-subscribe" class="button">

      <div class="hate-spam">
	Only a jerk would spam you, and that&#8217;s not me. Unsubscribe at any time.
      </div>
    </div>
  </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
 (function($) {
   window.fnames = new Array();
   window.ftypes = new Array();
   fnames[0]='EMAIL';
   ftypes[0]='email';
   fnames[1]='FNAME';
   ftypes[1]='text';
   fnames[2]='MINITEST';
   ftypes[2]='text';
   fnames[3]='SOURCE';
   ftypes[3]='text';
   fnames[4]='RESNAME';
   ftypes[4]='text';
   fnames[5]='RESLOC';
   ftypes[5]='text';
 }(jQuery));
 var $mcj = jQuery.noConflict(true);
</script>
<script type="text/javascript">
 var email;

 // Trigger GA event upon submission.
 $(function() {
   $('#mce-EMAIL').on('change', function() {
     email = $('#mce-EMAIL').val();
   });
   
   $('#mc-embedded-subscribe-form #mce-success-response').bind('DOMSubtreeModified', function() {
     ga('send', 'event', 'Mailing List', 'Subscribed Minitest', email);
   });
 });
</script>
<!--End mc_embed_signup-->
