<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <h3>Want to know when the book is ready?</h3>

  <p>
    Sign up to receive <b>free preview chapters</b> along with
    progress updates and useful tips and articles!
  </p>

  <form action="//chriskottom.us7.list-manage.com/subscribe/post?u=cb97c3f32295c9480bdb216ad&amp;id=9b52a32f47" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="hidden" name="MINITEST" id="MINITEST" value="yes" />
    <input type="hidden" name="SOURCE" id="SOURCE" value="chriskottom.com" />
    <input type="hidden" name="RESNAME" id="RESNAME" value="" />
    <input type="hidden" name="RESLOC" id="RESLOC" value="http://chriskottom.com/minitestcookbook/index.html" />

    <div class="mc-field-group col-md-9 col-sm-8">
      <label class="sr-only" for="mce-EMAIL">Email Address</label> 
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email">
    </div>

    <div class="form-group col-md-3 col-sm-4">
      <input type="submit" value="Sign up!" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>

    <div id="mce-responses" class="clearfix">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_cb97c3f32295c9480bdb216ad_9b52a32f47" tabindex="-1" value="">
    </div>

  </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
 (function($) {
   window.fnames = new Array();
   window.ftypes = new Array();
   fnames[0]='EMAIL';
   ftypes[0]='email';
   fnames[1]='MINITEST';
   ftypes[1]='text';
   fnames[2]='SOURCE';
   ftypes[2]='text';
   fnames[3]='RESNAME';
   ftypes[3]='text';
   fnames[4]='RESLOC';
   ftypes[4]='text';
 }(jQuery));
 var $mcj = jQuery.noConflict(true);
</script>
<script type="text/javascript">
 var email;

 // Trigger GA event upon submission.
 $(function() {
   $('#mce-EMAIL').on('change', function() {
     email = $('#mce-EMAIL').val();
   });
   
   $('#mc-embedded-subscribe-form #mce-success-response').bind('DOMSubtreeModified', function() {
     ga('send', 'event', 'Mailing List', 'Subscribed Minitest', email);
   });
 });
</script>
<!--End mc_embed_signup-->
