<section id="why-minitest" class="gray">
  <div class="container">
    <h2>Enter Minitest</h2>

    <p>
      Minitest is a full-featured framework for automated testing that
      supports both assertion-style and spec-style tests along with
      basic mocking, performance benchmarking, parallelization, and a
      simple plugin architecture.  All this in around 1500 lines of
      code compared to over 12,000 for RSpec.
    </p>

    <p>
      Keeping things simple is the whole point, and it's one major
      reason why a lot of developers have been drawn to Minitest.  It
      takes a restrained approach by providing developers with a
      minimal set of standard assertions and expectations that they
      can use to test their code or build on with their own creations.
      For you the developer, that means:
      <ul>
	<li>A shorter learning curve</li>
	<li>More readable tests (and fewer WTF moments)</li>
	<li>Fewer stylistic decisions to make</li>
	<li>Faster load time for testing jobs</li>
      </ul>
    </p>

    <p>
      You've heard that good things come in small packages.  This is
      what they were talking about.
    </p>
  </div>
</section>
