<section id="toc">
  <div class="container">
    <h2>Table of Contents</h2>

    <p>
      The book and its contents remain a work in progress, so while subject to change, this is a current outline of the final product I'm working toward.
    </p>

    <ul class="left-col">
      <li>Introduction</li>
      <li>How Minitest Works</li>
      <li>Adding Minitest to a Ruby Project</li>
      <li>Running Your Tests</li>
      <li>Writing Tests and Specs</li>
      <li>Writing Helper Methods</li>
      <li>Configuring Pre-test State</li>
      <li>Comparing Things</li>
      <li>Having Fun with Minitest::Pride &amp; Friends</li>
      <li>Using Test Doubles</li>
      <li>Colorizing Test Reports</li>
      <li>Customizing Test Reports</li>
      <li>Sharing Code Between Tests</li>
      <li>Mocking HTTP Interactions</li>
    </ul>

    <ul class="right-col">
      <li>Performance Benchmarking</li>
      <li>Testing Mixin Behavior</li>
      <li>Adding Minitest to a Rails Project</li>
      <li>Managing Test Data</li>
      <li>Testing Rails Models</li>
      <li>Testing Rails Controllers</li>
      <li>Testing Rails Helpers</li>
      <li>Testing Rails Concerns</li>
      <li>Testing Rails Lib Classes &amp; Service Objects</li>
      <li>Testing Your Rails Application</li>
      <li>Finding and Fixing Slow Tests</li>
      <li>Parallel Testing</li>
      <li>Crafting a Testing DSL</li>
      <li>Writing Your Own Minitest Extensions</li>    
    </ul>
  </div>
</section>
