<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Books &amp; Projects</h3>
  </div>
  <div id="projects" class="list-group">
     <a class="list-group-item clearfix" href="/developing-rails-apis/"><img class="left" src="/images/rails_apis_cover_thumb.jpg"><h4 class="list-group-item-heading">Developing Rails API Applications</h4><p>Get up and running writing Rails 5 APIs</p></a>
  </div>
  <div id="projects" class="list-group">
     <a class="list-group-item clearfix" href="/minitestcookbook"><img class="left" src="/images/minitest_cookbook_cover_thumb.jpg"><h4 class="list-group-item-heading">The Minitest Cookbook</h4><p>The best way start and advance with Minitest</p></a>
  </div>
</section>
