<section class="social-profiles">
  <a class="social-icon github-icon" href="https://github.com/{{site.github_user}}" target='_blank'></a>
  <a class="social-icon twitter-icon" href="https://twitter.com/{{site.twitter_user}}" target='_blank'></a>
  <a class="social-icon facebook-icon" href="https://www.facebook.com/{{site.facebook_user}}" target='_blank'></a>
  <a class="social-icon linkedin-icon" href="http://www.linkedin.com/in/{{site.linkedin_user}}" target='_blank'></a>
  <a class="social-icon google-icon" href="https://plus.google.com/+{{site.googleplus_user}}? rel=author" target='_blank'></a>
</section>
