<li>
  <a href="https://gum.co/developing-rails-apis"
     class="btn btn-warning btn-lg">
    <i class="fa fa-fw fa-download btn-icon"></i>
    <div class="btn-text">
      <span class="btn-title">Need This Yesterday!</span>
      <span class="btn-desc">
	Download as a PDF <span class="highlight">right now</span> for $29
      </span>
    </div>
  </a>
</li>
<li>
  <a href="#" name="dr-top" data-drip-show-form="47833024"
     class="btn btn-info btn-lg">
    <i class="fa fa-fw fa-envelope btn-icon"></i>
    <div class="btn-text">
      <span class="btn-title">There's No Rush</span>
      <span class="btn-desc">
	Emails once a week for 12 weeks - <span class="highlight">free</span>
      </span>
    </div>
  </a>
</li>
