---
ga_experiments: true
---
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include head.html %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@chriskottom" />
  <meta property="og:type" content="book"/>
  <meta property="og:description" content="A comprehensive guide to testing with Minitest covering setup, must-have extensions, and practical testing techniques. Required reading for Ruby developers."/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:site_name" content="ChrisKottom.com"/>
  <meta property="og:title" content="Learn Ruby and Rails app testing with The Minitest Cookbook"/>
  <meta property="og:image" content="https://chriskottom.com/images/minitest_cookbook.jpg"/>
  <meta property="og:url" content="https://chriskottom.com/minitestcookbook/"/>
</head>

<body class="ck-landing" {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <div id="wrap">
    <header role="banner">
      {% include landing_pages/navigation.html %}
    </header>

    {{ content | expand_urls: root_url }}
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>

  {% include after_footer.html %}
</body>

</html>
