<div id="about" class="column">
  <h2>A Little About Me</h2>
  <p>
    Life is where you find it.  I moved to the <em>Czech Republic</em>
    in the fall of 2000 to work for a long-gone startup.  When I left
    the states, I told my friends and family that I would be here
    <em>"for a year or two"</em>.
  </p>
  <p>
    I've spent a good chunk of the past 20 years hunched over a keyboard
    working on <em>system architecture &amp; design</em> and
    <em>web applications</em> - most recently using <em>Ruby on Rails</em>
    and <em>JavaScript</em>.
  </p>
  <p>
    <a href="/hire-me">Let's work together!</a>
    <a class="pull-right" href="mailto:chris@chriskottom.com">Email me</a>
  </p>
</div>
