<nav class="navbar navbar-default navbar-fixed-top pre-launch" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="width:100%;text-align:center">
	<li class="navbar-brand" style="width:100%">
	  <strong>The Minitest Cookbook arrives on March 25th.</strong>&nbsp;&nbsp;&nbsp;Sign up below to receive an exclusive launch discount.
	</li>
      </ul>
    </div>
  </div>
</nav>
