<nav class="navbar navbar-default navbar-fixed" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
	<li>
	  <a class="navbar-brand" href="{{ root_url }}/">Return to chriskottom.com</a>
	</li>
      </ul>
    </div>
  </div>
</nav>
