---
layout: landing_page
title: "The Minitest Cookbook"
author: "Chris Kottom"
description: "Minitest is a Swiss Army Knife for testing Ruby and Rails applications.  If you're ready to get serious about your tests, The Minitest Cookbook can show you how."
body_id: minitest_landing
date: 2014-11-07 08:44
comments: false
sharing: false
footer: true
sidebar: false
---

<!-- Lead -->
{% include minitest_cookbook/lead.html %}

<!-- Why Minitest? -->
{% include minitest_cookbook/why_minitest.html %}

<!-- Description, subscription form -->
{% include minitest_cookbook/description.html %}

<!-- What You'll Learn (benefits) -->
{% include minitest_cookbook/benefits.html %}

<!-- About the Author -->
{% include minitest_cookbook/author.html %}
