<div class=" mailchimp-modal modal fade" id="free-chapters-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
	<h3>Download two chapters FREE</h3>

	<div class="description">
	  <img class="cover" alt="The Minitest Cookbook" src="/images/minitest_cookbook_cover_form.jpg">
	  <p>If you already write tests, I want your tests to be better.</p>
	  <p>If you don't write tests, I want to help you get past the obstacles holding you back.</p>
	  <p>Sign up for my mailing list here, and receive the first two chapters of The Minitest Cookbook&nbsp;<strong>free</strong>.</p>
	</div>
	<div class="form">
	  <form class="form-horizontal">
	    <div class="form-group input-lg">
              <input type="text" id="email" name="email" class="form-control" placeholder="Email">
	    </div>
	    <div class="form-group input-lg">
              <input type="text" id="name" name="name" class="form-control" placeholder="First Name">
	    </div>
	    <div class="form-group input-lg">
              <input type="text" id="name" name="name" class="form-control" placeholder="Last Name">
	    </div>
	    <div class="form-group input-lg">
              <button type="submit" class="btn btn-danger">YES, send my free chapters</button>
	    </div>
          </form>
	</div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.required-icon').tooltip({
      placement: 'left',
      title: 'Required field'
    });
  });
</script>
