<div class=" mailchimp-modal modal fade" id="free-chapters-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
	<div class="mtc-description">
	  {% include mailchimp/mtc_description.html %}
	</div>
	<div class="mtc-form" id="mc_embed_signup">
	  {% include mailchimp/mtc_free_chapters_form.html %}
	</div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
