<div>
  <h3>Ready for More Than a Cheat Sheet?</h3>

  <img class="cover no-border" alt="The 
Minitest Cookbook" src="/images/minitest_cookbook_cover_form.jpg">

  <p>
    The Minitest Cookbook teaches beginning programmers to get started writing
    tests with Minitest and provides techniques to improve more experienced
    developers' tests.
  </p>
  <p>
    Give me your email address and name in the form to the right, and
    <u><strong>I'll send you the first few chapters free</strong></u>.
  </p>
</div>
