<div>
  <h3>Time to level up your testing</h3>

  <img class="cover no-border" alt="The Minitest Cookbook" src="/images/minitest_cookbook_cover_form.jpg">

  <p>
    Frustrated with trying to learn about Minitest and the related ecosystem?
  </p>
  <p>
    Whether you're already an experienced tester or struggling to get started,
    <strong>The Minitest Cookbook</strong> has something for you.
  </p>
  <p>
    Sign up here, and <strong>I'll send you three chapters free</strong>
    along with regular Ruby and Rails development articles.
  </p>
</div>
