### TEMPORARY POST-MIGRATION REDIRECTS ###
RedirectMatch   302   ^\/categories\/(.*) /blog/categories/$1
RedirectMatch   302   ^\/tags\/(.*) /blog/categories/$1
RedirectMatch   302   ^\/(\d{4})\/(\d{2})\/(.*) /blog/$1/$2/$3

RedirectMatch   301   ^\/blog\/2014\/10\/4\-ways\-to\-set\-up\-test\-state\-in\-minitest(.*)$ /blog/2014/10/4-fantastic-ways-to-set-up-state-in-minitest/
RedirectMatch   301   ^\/blog\/2014\/12\/naked\-minitest\-on\-the\-command\-line(.*)$ /blog/2014/12/command-line-flags-for-minitest-in-the-raw/
RedirectMatch   301   ^\/blog\/2014\/12\/minitest\-in\-the\-buff(.*)$ /blog/2014/12/command-line-flags-for-minitest-in-the-raw/
RedirectMatch   301   ^\/blog\/2015\/09\/rails\-not\-as\-shiny\-still\-pretty\-awesome(.*)$ /blog/2015/09/rails-got-99-problems-but-these-aint-them/

RedirectMatch   301   ^\/products\/(.*)$ /$1

### CACHING ###
ExpiresActive On
ExpiresDefault A3600

# 1 MONTH
<FilesMatch "\.(ico|gif|jpe?g|png|flv|pdf|swf|mov|mp3|wmv|ppt)$">
    ExpiresDefault A2419200
    Header append Cache-Control "public"
</FilesMatch>

# 3 DAYS
<FilesMatch "\.(xml|txt|html|htm|js|css)$">
    ExpiresDefault A259200
    Header append Cache-Control "private, must-revalidate"
</FilesMatch>

# NEVER CACHE
<FilesMatch "\.(php|cgi|pl)$">
    ExpiresDefault A0
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
</FilesMatch>