---
layout: homepage
body_id: home
---
<div class="hero">
  <div class="container">
    <div class="jumbotron">
      <h1>Chris Said So</h1>
      <p class="lead">I'm a <em>father</em>, a <em>husband</em>, a <em>hacker</em>, and an intermediate-level human being.  I live in <em>Prague</em> with my wife and two troublemaking kids.</p>
    </div>
  </div>
</div>

<div id="main" class="container">
  <div id="content">
    <div class="row">
      {% include homepage/about_me.html %}

      {% include homepage/recent_posts.html %}

      {% include homepage/recent_work.html %}
    </div>
  </div>
</div>
