/*=================================
   BLOG STYLES
 =================================*/
.ck-blog {

  // navigation styles
  .nav li.featured a {
    color: #ffffcc;
    font-weight: bolder;
  }

  // nicer font for headers
  h1, h1 > a, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  // make  post titles stand out */
  h1 {
    font-size: 36px;
    text-shadow: 1px 1px 1px #ccc;

    a {
      color: #2c3e50;
    }

    a:hover {
      color: #139077;
      text-decoration: none;
    }
  }

  .sidebar {

    // social icons
    .social-profiles {
      margin-bottom: 25px;
      text-align: center;

      a.social-icon {
	background-color: #ffffff;
	border-radius: 3px;
	display: inline-block;
	height: 48px;
	width: 48px;
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.3s;
      }

      a.google-icon {
	background-image: url('/images/googleplus-black.png');
	&:hover {
	  background-color: #ff5555;
	  background-image: url('/images/googleplus.png');
	}
      }

      a.facebook-icon {
	background-image: url('/images/facebook-black.png');
	&:hover {
	  background-color: #3b5998;
	  background-image: url('/images/facebook.png');
	}
      }

      a.github-icon {
	background-image: url('/images/github-black.png');
	&:hover {
	  background-color: #4183c4;
	  background-image: url('/images/github.png');
	}
      }

      a.linkedin-icon {
	background-image: url('/images/linkedin-black.png');
	&:hover {
	  background-color: #007fb1;
	  background-image: url('/images/linkedin.png');
	}
      }

      a.twitter-icon {
	background-image: url('/images/twitter-black.png');
	&:hover {
	  background-color: #00aced;
	  background-image: url('/images/twitter.png');
	}
      }
    }

    // no bullets in lists
    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  // pretty-up the Pinboard output
  #pinboard_linkroll {
    .pin-title {
      font-weight: bold;
    }
    .pin-description {
      display: block;
    }
    .pin-tag {
      display: none;
    }
  }

  // put a little more space around headers
  .page-header {
    margin-top: 10px;
    .entry-title {
      margin-top: 0.4em;
    }
  }

  // support for DL/DT/DD tags
  dl {
    margin-bottom: 10.5px;
    dt {
      font-weight: bold;
    }
    dd {
      margin-bottom: 6px;
    }
  }

  // MailChimp after-post sign-up form
  .mailchimp.after-post {
    background: #f3f6f6;
    border: 2px solid #6aa5b4;
    border-radius: 7px;
    margin: 20px auto;
    padding: 0 25px 25px 25px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 20px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .indicates-required {
      @extend .pull-right;
      font-size: 14px;
    }

    form {
      padding-top: 0;

      label, input {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      label {
	@extend .control-label;
	font-size: 14px;
      }

      .mce_inline_error {
	font-size: 14px;
      }

      input:not([type=submit]) {
	@extend .form-control;
      }

      label.error {
	@extend .text-warning;
	font-size: 14px;
	font-weight: normal;
	margin-left: 3px;
      }

      input.error {
	@extend .has-error;
      }

      input.button, input[type=submit], input[type=button] {
	@extend .btn;
	@extend .btn-warning;
	@extend .btn-block;
	color: #f6f6f6;
	font-size: 1.2em;
	font-weight: bold;
	height: auto;
	max-width: 400px;
	margin-top: 20px;
	@extend .center-block;
      }

      .mc-field-group {
	@extend .form-group;
	margin-bottom: 10px;

	&.required {
	  @extend .has-feedback;

	  span.asterisk {
	    @extend .form-control-feedback;
	  }
	}
      }
    }

    #notification-container {
      margin-top: 15px;
    }
  }

  .hate-spam {
    @extend .center-block;
    @extend .text-info;
    color: #333;
    margin-top: 20px;
    text-align: center;
  }

  // promtional callouts
  .promo {
    background-color: #f3f6f6;
    border-bottom: 1px solid #a1b5ba;
    border-top: 1px solid #a1b5ba;
    font-size: 20px;
    margin: 35px 50px;
    padding: 20px;
    text-align: center;
  }

  // put a little space between post meta stuff at the end of the post
  p.meta {
    .glyphicon {
      margin-left: 15px;
    }
    span:first-child {
      margin-left: 0;
    }
  }

  // Facebook like widget alignment
  .fb-like {
    vertical-align: top;
  }

  // proper article spacing on blog home
  .blog-index {
    .post {
      margin-bottom: 2.5em;
      footer {
	margin-top: 1em;
      }
    }
  }

  // blog archive post titles should be sized down a little
  #blog-archives h1 {
    font-size: 28px;
  }

  // results tables (used for benchmarks)
  table.results {
    border: 3px solid #aaa;
    margin: 20px auto;
    width: 90%;
    tr, td, th {
      border: 1px solid #aaa;
      padding: 7px;
    }
    tr th {
      background-color: #f3f3f3;
      text-align: center;
    }
    .left, .center, .right {
      display: table-cell;
      float: none;
    }
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
    .delta {
      font-style: italic;
      font-size: 0.9em;
    }
  }
}
