.ck-landing {
  background: rgba(43, 61, 79, 1);

  nav.navbar {
    background-color: rgba(43, 61, 79, 0.7);
    border: 0;
    border-radius: 0;
    min-height: 35px;

    a.navbar-brand {
      color: #ffffff;
      font-size: 15px;
      height: 35px;
      margin: 0;
      opacity: .5;
      padding: 7px 10px;

      &:hover {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
      }
    }

    &.pre-launch {
      font-size: 1.4em;

      strong {
	color: #fff98f;
      }

      a.navbar-brand {
	opacity: 1.0;

	&:hover {
	  color: inherit;
	}
      }
    }
  }

  section {
    background-color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;

    &.gray {
      border-bottom: 2px solid #e5e5e5;
      border-top: 2px solid #e5e5e5;
      background-color: #f8f8f8;
    }

    .container {
      padding-left: 100px;
      padding-right: 100px;

      h2 {
	margin-top: 0;
      }

      p:last-child {
	margin-bottom: 0;
      }
    }
  }

  section:last-child {
    border-bottom: 0;
  }

  p, li {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
  }

  footer {
    padding-top: 10px;

    p {
      font-size: 16px;

      a {
	color: #1cd9b3;

	&:hover {
	  color: #34e5c1;
	}
      }
    }

    .text-muted {
      color: #ffffff;
    }
  }

  #lead {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .jumbotron {
      margin: 80px auto;

      h1 {
	margin-bottom: 0.8em;
      }

      & > p {
	font-size: 24px;
      }
    }
  }
}

#minitest.ck-landing {
  /*
  section:not(.gray) {
    background-image: url('/images/grey.png');
    background-color: #fff;
  }
  */

  #lead {
    background-clip: border-box;
    background-image: url('/images/minitest_cookbook_code_bg.png');
    background-repeat: none;
    background-size: cover;

    em {
      color: #fff98f;
      font-weight: bold;
    }

    .jumbotron {
      background-color: rgba(20, 50, 50, 0.8);
      border: 1px solid #666;

      & > h1, & > p {
	color: #eeeeff;
      }

      .buy-button {
	float: right;
	margin: 25px 0 50px 75px;

	a.free-chapters {
	  color: #fff98f;

	  &:hover {
	    color: #fffccc;
	  }
	}
      }
    }
  }

  #description {
    .cover-image, .mailchimp, .convertkit {
      float: right;
      width: 50%;
    }

    .convertkit {
      margin: 5px 0 10px 30px;
    }

    .cover-image {
      text-align: center;
    }

    .mailchimp {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    .mailchimp {
      padding: 20px;

      h3 {
	font-size: 24px;
	margin-top: 0;
      }

      form {
	@extend .form-inline;

	.mc-field-group, .form-group {
	  padding: 0 15px 0 0;

	  &:last-child {
	    padding: 0;
	  }
	}

	input.email {
	  font-size: 18px;
	  position: relative;
	  width: 100%;
	}

	.button {
	  margin-top: -3px;
	  padding: 8px 20px;
	}

	#mce-responses .response {
	  margin-top: 1em;
	}
      }
    }
  }

  #description {
    div {
      @extend .clearfix;

      .left-col, .right-col {
	display: block;
      }
      .left-col {
	@extend .col-md-offset-1;
	@extend .col-md-5;
      }
      .right-col {
	@extend .col-md-5;
      }
      .center-col {
	@extend .col-md-offset-3;
	@extend .col-md-6;
	h3, p {
	  text-align: center;
	}
      }
    }
  }

  #toc {
    h2, p {
      text-align: center;
    }

    p {
      @extend .col-md-10;
      @extend .col-md-offset-1;
    }

    .left-col, .right-col {
      @extend .col-md-5;
      @extend .col-md-offset-1;
    }

    .left-col {
    }

    .buy-button {
      @extend .col-md-12;
      margin-top: 30px;
      text-align: center;

      a.free-chapters {
	color: #139077;

	&:hover {
	  text-decoration: underline;
	}
      }
    }
  }

  section#author .container {
    h2 {
      margin-top: 0;
    }
    .avatar {
      @extend .img-rounded;
      border: 2px solid #6aa5b4;
      float: left;
      margin-left: 25px;
      margin-right: 100px;
    }
    div {
      display: inline-block;
      width: 600px;
    }
  }

  .mailchimp {
    float: right;
    margin-left: 50px;
    width: 50%;
  }

}

.buy-button {
  text-align: center;

  i.glyphicon {
    font-size: 36px;
    margin-right: 25px;
  }

  span {
    font-size: 30px;
    font-weight: bold;

    small {
      font-size: 24px;
      font-weight: normal;
    }
  }

  a.free-chapters {
    color: #fff98f;
    display: block;
    margin-top: 5px;

    &:hover {
      color: #fffccc;
      text-decoration: none;
    }
  }
}