.ck-landing {
  nav.navbar {
    border-radius: 0;
    min-height: 35px;

    a.navbar-brand {
      color: #ffffff;
      font-size: 15px;
      height: 35px;
      margin: 0;
      opacity: .3;
      padding: 7px 10px;

      &:hover {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
      }
    }
  }

  section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  section:last-child {
    border-bottom: 0;
  }

  p, li {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
  }

  #lead {
    padding-top: 35px;
  }

  #description {
    .left-col {
      @extend .col-md-6;
    }
  }

  #benefits {
    h2 {
      text-align: center;
    }
    div {
      @extend .clearfix;

      .left-col, .right-col {
	display: block;
      }
      .left-col {
	@extend .col-md-offset-1;
	@extend .col-md-5;
      }
      .right-col {
	@extend .col-md-5;
      }
      .center-col {
	@extend .col-md-offset-3;
	@extend .col-md-6;
	h3, p {
	  text-align: center;
	}
      }
    }
  }

  #author .container {
    h2 {
      margin-top: 0;
    }
    .avatar {
      @extend .img-rounded;
      border: 2px solid #6aa5b4;
      float: left;
      margin-left: 25px;
      margin-right: 100px;
    }
    div {
      display: inline-block;
      width: 750px;
    }
  }

  .mailchimp {
    float: right;
    margin-left: 50px;
    width: 50%;
  }

}