.mailchimp-modal {
  .modal-dialog {
    width: 450px;
  }

  .modal-header, .modal-footer {
    @extend .clearfix;
    background-color: #596683;
    min-height: 10px;
  }

  .modal-header {
    background-color: #596683;
    color: #ffffff;
    font-size: 0.7em;
    padding: 4px;

    button.close {
      margin-top: -6px;

      span {
	color: #ffffff;
	font-size: 80%;
	padding: 0;
      }
    }
  }

  .modal-footer {
    margin: 0;
    padding: 0;
  }

  .modal-body {
    padding: 20px 20px 0 20px;
  }
}

.mailchimp-modal {
  .mtc-description {
    margin-bottom: 20px;
  }

  .mtc-form {
    border-top: thin solid #96a2bb;
    padding: 25px 20px;
  }
}

.mailchimp-panel {
  @extend .row;
  border-bottom: 5px solid #596683;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  border-top: 10px solid #596683;
  margin: 0px;
  overflow: hidden;

  .mtc-description {
    @extend .col-md-7;
    border-right: thin solid #96a2bb;
    margin-bottom: -99999px;
    padding: 0 0 99999px 0;

    & > div {
      margin: 20px;
    }

    img.cover {
      margin-bottom: 45px !important;
    }
  }

  .mtc-form {
    @extend .col-md-5;
    form {
      padding: 15px;
    }
  }
}

.mtc-description {
  h3, p, div  {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #222222;
  }

  h3 {
    font-weight: bold;
    margin: 0 0 16px 0;
    text-align: center;
  }

  img.cover {
    float: left;
    margin: 10px 30px 35px 0;
  }

  p {
    font-size: 17px !important;
    text-align: left;
  }
}

.mtc-form form {
  clear: both;
  display: block;


  .form-group {
    line-height: 0.8;
    margin: 0;
    padding: 0;

    input {
      margin-top: 0;
    }
  }

  input, textarea, button { margin-top:10px }

  input, textarea {
    background-color: #f8f7f7;
  }

  button, .btn {
    @extend .btn-lg;
    background: #8d0707;
    color: #ffffff;
    padding: 12px 10px;
    text-shadow: 1px 1px 1px rgba(175, 175, 175, 0.7);
    width: 100%;
  }

  #mce-responses {
    margin: 0 10px 10px 10px;

    .response {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      font-size: 16px;
    }

    #mce-error-response {
      color: #750000;
    }

    #mce-success-response {
      color: #003c00;
    }
  }

  input.error {
    border-color: #cc0000;
  }

  label.error {
    color: #aa0000;
    font-size: 14px;
  }

  .no-spam {
    color: #992222;
    display: block;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
    width: 100%;
  }
}