.mailchimp-modal {
  .modal-dialog {
    width: 450px;
  }

  .modal-header, .modal-footer {
    @extend .clearfix;
    background-color: #596683;
    min-height: 10px;
  }

  .modal-header {
    background-color: #596683;
    color: #ffffff;
    font-size: 0.7em;
    padding: 8px;

    button.close {
      span {
	color: #ffffff;
	font-size: 80%;
	padding: 0;
      }
    }
  }

  .modal-footer {
    padding: 0;
  }

  .modal-body {
    padding: 20px;

    h3 {
      margin: 0 0 16px 0;
    }

    .description {
      clear: both;
      margin-bottom: 20px;

      img.cover {
	float: left;
	margin: 10px 35px 35px 0;
      }

      & > p {
	color: #222222;
	font-size: 17px;
	text-align: left;
      }
    }

    form {
      border-top: thin solid #96a2bb;
      clear: both;
      display: block;

      .form-group {
	margin-bottom: 0;
      }

      button, .btn {
	@extend .btn-lg;
	background: #8d0707;
	color: #ffffff;
	padding: 12px 10px;
	text-shadow: 1px 1px 1px rgba(175, 175, 175, 0.7);
	width: 100%;
      }
    }
  }
}
