/*=================================
   GLOBAL / COMMON STYLES
 =================================*/

// nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/
html, body {
    height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
footer[role=contentinfo] {
    height: 60px;
}

// content block
#content {
  margin-top: 20px;
}

// general positioning stuff
.left { float: left; }
.right { float: right; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// layouts for images and figures/images with captions
figure img {
  margin-bottom: 5px;
}
figure.center {
  display: table;
  text-align: center;
}
figcaption {
  display: block;
  font-size: 0.85em;
  font-weight: bold;
}
.page-content {
  img, figure {
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

// make links a little darker
a {
  color: #139077;
}
