/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

#content {
  margin-top: 20px;
}

/* General positioning stuff */
.left { float: left; }
.right { float: right; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Use a nicer font on the headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* Make post titles stand out */
h1 {
  font-size: 36px;
  text-shadow: 1px 1px 1px #ccc;

  a {
    color: #2c3e50;
  }

  a:hover {
    color: #139077;
    text-decoration: none;
  }
}

/* Size down the post titles on the archive pages */
#blog-archives h1 {
  font-size: 32px;
}

/* Put a little more space around headers */
.page-header {
  margin-top: 10px;
  .entry-title {
    margin-top: 0.4em;
  }
}

/* Make links a little darker */
a {
  color: #139077;
}

/* Layouts for images and figures / images with captions */
figure img {
  margin-bottom: 5px;
}
figure.center {
  display: table;
  text-align: center;
}
figcaption {
  display: block;
  font-size: 0.85em;
  font-weight: bold;
}
.page-content {
  img, figure {
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/* No formatting for sidebar ULs */
.sidebar {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

/* Pretty-up the Pinboard output */
#pinboard_linkroll {
  .pin-title {
    font-weight: bold;
  }
  .pin-description {
    display: block;
  }
  .pin-tag {
    display: none;
  }
}

/* Put a little space between post meta stuff at the end of the post */
p.meta {
  .glyphicon {
    margin-left: 15px;
  }
  span:first-child {
    margin-left: 0;
  }
}

/* Social icons */
.social-profiles {
  margin-bottom: 25px;
  text-align: center;

  a.social-icon {
    background-color: #ffffff;
    border-radius: 3px;
    display: inline-block;
    height: 48px;
    width: 48px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.3s;
  }

  a.google-icon {
    background-image: url('/images/googleplus-black.png');
    &:hover {
      background-color: #ff5555;
      background-image: url('/images/googleplus.png');
    }
  }

  a.facebook-icon {
    background-image: url('/images/facebook-black.png');
    &:hover {
      background-color: #3b5998;
      background-image: url('/images/facebook.png');
    }
  }

  a.github-icon {
    background-image: url('/images/github-black.png');
    &:hover {
      background-color: #4183c4;
      background-image: url('/images/github.png');
    }
  }

  a.linkedin-icon {
    background-image: url('/images/linkedin-black.png');
    &:hover {
      background-color: #007fb1;
      background-image: url('/images/linkedin.png');
    }
  }

  a.twitter-icon {
    background-image: url('/images/twitter-black.png');
    &:hover {
      background-color: #00aced;
      background-image: url('/images/twitter.png');
    }
  }
}

/* Formatting for the home page */
body#home {
  em {
    color: #0c5f4e;
    font-style: normal;
    font-weight: bold;
  }

  .hero {
    background-clip: border-box;
    background-image: url('/images/homepage_background.jpg');
    background-position: 0 -80px;
    background-repeat: none;
    background-size: cover;

    .jumbotron {
      background-color: rgba(255, 255, 255, 0.4);
      margin: 75px auto;
    }

    .lead {
      font-size: 24px;
    }
  }

  #about, #blog, #recent-work {
    @extend .col-lg-4;
    font-size: 18px;

    h2 {
      font-weight: 500;
      margin-bottom: 24px;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }

    .page-header {
      border: 0;
      margin: 0 0 15px;
      padding: 0;
    }

    p.meta {
      font-size: 16px;
    }
  }
}

/* Tweak the blog-index listing */
.blog-index {
  .post {
    margin-bottom: 2.5em;

    footer {
      margin-top: 1em;
    }
  }
}

/* Support for DL/DT/DD tags */
dl {
  margin-bottom: 10.5px;

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 6px;
  }
}


/* Minor adjustment to alignment of FB share component. */
.fb-like {
  vertical-align: top;
}

/* Mailchimp sign-up forms */
.mailchimp.after-post {
  background: #ecf0f1;
  border: 3px dashed #6aa5b4;
  border-radius: 7px;
  margin: 30px auto;
  padding: 0 35px 25px 35px;

  h2 {
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .indicates-required {
    @extend .pull-right;
    font-size: 14px;
  }

  form {
    padding-top: 0;

    label, input {
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    label {
      @extend .control-label;
      font-size: 16px;
    }

    .mce_inline_error {
      font-size: 16px;
    }

    input:not([type=submit]) {
      @extend .form-control;
    }

    label.error {
      @extend .text-warning;
      font-size: 14px;
      font-weight: normal;
      margin-left: 3px;
    }

    input.error {
      @extend .has-error;
    }

    input.button, input[type=submit], input[type=button] {
      @extend .btn;
      @extend .btn-warning;
      @extend .btn-block;
      font-size: 1.5em;
      font-weight: bold;
      height: auto;
      max-width: 400px;
      margin-top: 20px;
      @extend .center-block;
    }

    .mc-field-group {
      @extend .form-group;
      margin-bottom: 10px;

      &.required {
	@extend .has-feedback;

	span.asterisk {
	  @extend .form-control-feedback;
	}
      }
    }
  }

  #notification-container {
    margin-top: 15px;
  }
}
.hate-spam {
  @extend .center-block;
  @extend .text-info;
  color: #333;
  margin-top: 20px;
  text-align: center;
}
